@font-face {
    font-family: 'Noto-Sans-Kannada';
    src: url(/fonts/NotoSansKannada-Regular.ttf);
}

h1
{
    line-height: 1.5;
}

.sub-title
{
    font-size: 0.85rem;
    color: #BCAAA4;
}

.snippet-text
{
    font-family: 'Noto-Sans-Kannada';
}

.navbar-bottom
{
    font-size: 00.85rem;
}

hr
{
    stroke: #C7D8DE;
}

.bottom-nav-special
{
    padding: 8px 4px;
    background-color: #C7D8DE;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 4px;
}