<nav class="navbar d-block fixed-bottom navbar-bottom mb-4 p-0" style="background-color: transparent;">
    <div class="row g-0 m-2 text-center align-items-center justify-content-around bottom-nav-special">
        <div class="col-4">
            {{ if .NextInSection }}
                <a href="{{with .NextInSection}}{{.Permalink}}{{ end }}">
                    <div><img src="/images/previous.svg" alt=""></div>
                    <div class="primary-font-colour fw-bold">ಹಿಂದಿನ ತುಣುಕು</div>
                </a>
            {{ end }}
        </div>
        <div class="col-3">
            <a href="/">
                <div><img src="/images/home.svg" alt=""></div>
                <div class="primary-font-colour fw-bold" style="padding-top: 2px;">ಮುಖಪುಟ</div>
            </a>
        </div>
        <div class="col-4">
            {{ if .PrevInSection }}
                <a href="{{with .PrevInSection}}{{.Permalink}}{{ end }}">
                    <div><img src="/images/next.svg" alt=""></div>
                    <div class="primary-font-colour fw-bold">ಮುಂದಿನ ತುಣುಕು</div>
                </a>
            {{ end }}
        </div>
    </div>
    <!-- <div class="row py-1 text-center align-items-center justify-content-around">
        <p class="m-0 primary-font-colour sub-title">ಇದು ಗೂಗಲ್ ಕ್ರೋಮ್ ಮೊಬೈಲ್ ನಲ್ಲಿ ಕಂಡು ಬರುವ ಅನುವಾದಕರಿಗಾಗಿ ಕಾಯ್ದಿರಿಸಿದ ಜಾಗ</p>
    </div> -->
  </nav>