<nav class="navbar d-block fixed-bottom navbar-bottom" style="box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;">
    <div class="row px-2 text-center align-items-center justify-content-around">
        <div class="col-4">
            {{ if .NextInSection }}
                <a href="{{with .NextInSection}}{{.Permalink}}{{ end }}">
                    <div><img src="/images/previous.svg" alt=""></div>
                    <div class="primary-font-colour">ಹಿಂದಿನ ತುಣುಕು</div>
                </a>
            {{ end }}
        </div>
        <div class="col-4">
            <a href="/">
                <div><img src="/images/home.svg" alt=""></div>
                <div class="primary-font-colour" style="padding-top: 2px;">ಮುಖಪುಟ</div>
            </a>
        </div>
        <div class="col-4">
            {{ if .PrevInSection }}
                <a href="{{with .PrevInSection}}{{.Permalink}}{{ end }}">
                    <div><img src="/images/next.svg" alt=""></div>
                    <div class="primary-font-colour">ಮುಂದಿನ ತುಣುಕು</div>
                </a>
            {{ end }}
        </div>
    </div>
    <div class="row py-1 text-center align-items-center justify-content-around">
        <p class="m-0 primary-font-colour fw-bold">ಇದು ಗೂಗಲ್ ಕ್ರೋಮ್ ನಲ್ಲಿ ಕಂಡು ಬರುವ ಅನುವಾದಕರಿಗಾಗಿ ಕಾಯ್ದಿರಿಸಿದ ಪಟ್ಟಿ</p>
    </div>
  </nav>